@page
@model MountainBikeTrailHeads.Pages.Trailheads.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <select asp-for="SearchPlace" asp-items="Model.Places">
        <option value="">All</option>
    </select>
    <input type="text" asp-for="SearchString" />
    <input type="submit" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Trailhead[0].Name)
                </a>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailhead[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailhead[0].TrailCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailhead[0].TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailhead[0].TotalDescent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailhead[0].CityNear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trailhead) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDescent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityNear)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
